<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuan9">

    <application
        android:allowBackup="true"
        android:icon="@drawable/group_3"
        android:label="YourFeeling"
        android:roundIcon="@drawable/group_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".Rigister"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>